{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_avatars/index
    
    Example context (json):
    {
    
    }
}}
<section>
    {{$heading}}
        <h2>
            {{#str}} pluginname, local_avatars {{/str}}
        </h2>
    {{/heading}}
    {{$content}}
        <div>
            <h3>
                {{#str}} teachers_title, local_avatars {{/str}}
            </h3>
            <table class="admintable generaltable">
                <thead>
                <tr>
                    {{#tables_keys}}
                        <th class="header">{{key}}</th>
                    {{/tables_keys}}
                </tr>
                </thead>
                <tbody>
                {{#teachers}}
                    <tr>
                        <td>
                            {{#image_url}}
                                <img src="{{image_url}}" alt="teacher_picture">
                            {{/image_url}}
                        </td>
                        <td>
                            {{#username}}
                                {{username}}
                            {{/username}}
                        </td>
                        <td>
                            {{#image_url}}
                                {{email}}
                            {{/image_url}}
                        </td>
                    </tr>
                {{/teachers}}
                </tbody>
            </table>
        </div>
        <div>
            <h3>
                {{#str}} students_title, local_avatars {{/str}}
            </h3>
            <table class="admintable generaltable">
                <thead>
                <tr>
                    {{#tables_keys}}
                        <th class="header">{{key}}</th>
                    {{/tables_keys}}
                </tr>
                </thead>
                <tbody>
                {{#students}}
                    <tr>
                        <td>
                            {{#image_url}}
                                <img src="{{image_url}}" alt="student_picture">
                            {{/image_url}}
                        </td>
                        <td>
                            {{#username}}
                                {{username}}
                            {{/username}}
                        </td>
                        <td>
                            {{#image_url}}
                                {{email}}
                            {{/image_url}}
                        </td>
                    </tr>
                {{/students}}
                </tbody>
            </table>
        </div>
        <div>
            <h3>
                {{#str}} your_avatar, local_avatars {{/str}}
            </h3>
            {{#user_picture}}
                {{#str}} current_avatar, local_avatars {{/str}}<img src="{{user_picture}}" alt="user_picture">
            {{/user_picture}}
            {{^user_picture}}
                {{#str}} current_avatar, local_avatars {{/str}} {{#str}} current_avatar_isset, local_avatars {{/str}}
            {{/user_picture}}
            {{{load_avatar_form.render}}}
        </div>
    {{/content}}
</section>

